{
    "root": true,
    "env": {
      "browser": true,
      "es6": true,
      "jest": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": [
        "eslint:recommended", 
        "prettier"
    ],
    "ecmaFeatures": {
        "jsx": true 
      },
    "plugins": [
        "react"
    ],
    "rules": {
        "react/jsx-uses-vars": 1
    },
    "globals": {
      "JSX": true
    }
  }